extends layout

block content
  .container
    h1='New Message'
    form(method='POST' action='/new')
      ul.new-message
        li
          label(for='user')='Name:'
            input#user(
              maxlength='20' 
              minlength='1' 
              name='user' 
              required 
              type='text'
            )
        li
          label(for='message')='Message:'
            textarea#message(
              maxlength='100' 
              minlength='1' 
              name='message' 
              required 
              rows='4'
            )
        li
          .validation-message='All fields required'
        li.form-buttons
          button.submit(type='submit')='Submit'
          a.return(href='/')='Return'
