extends layout

block content
  .container
    h1= title
    ul.messages
      if messages && !error
        each message in messages
          li
            .user=message.user
            .text=message.text
            .time=`${formatDate(message.added)}`
      else
        li
          .text='Problem reading from database:'
          .user=error
    a(href='/new')='new message'
