extends layout

block content
  h1= title
  ul
    each message in messages
      li
        div.text=message.text
        div.user=message.user
        div.time=message.added
  a(href='/new')='new message'
